<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎来到北京首都国际机场</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %} v" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
<style>
    header.masthead {
      padding-top: 10rem;
      padding-bottom: calc(10rem - 56px);
      background-image: url({% static 'img/header.jpg' %});
      background-position: center center;
      background-size: cover;
}
</style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Beijing Airport</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


          {% if request.session.identify == 'user' %}
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/browse/">在线订票</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/logout/">登出</a>
                </li>
{#                  <li><a href="/browse/">订票</a></li>#}
              {% elif request.session.identify == 'busdriver' %}
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/validation/">检票</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/logout/">登出</a>
                </li>
{#                  <li><a href="/validation/">检票</a></li>#}
            {% elif request.session.identify == 'employee' %}
{#                <li><a href="/manage/">用户管理</a></li>#}
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/manage/">用户管理</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/logout/">登出</a>
                </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/register/">注册</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/login/">登陆</a>
                </li>
              {% endif %}

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">关于</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>欢迎来到北京首都国际机场</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">市区旅客可方便乘坐市内机场巴士往返首都机场与方庄、北京南站、北京站、公主坟、中关村、
                上地奥运村、北京西站、回龙观、通州、王府井金宝街、石景山、燕郊、昌平等地，
                周边城市旅客可乘坐省际机场巴士往返机场与天津、秦皇岛、廊坊、保定、唐山、沧州和赤峰等地。</p>
              <p class="text-faded mb-5">现在我们开通了在线预订车票的服务，在购票开始之前，我们建议您首先登陆或者注册。</p>

            <a class="btn btn-light btn-xl js-scroll-trigger" href="/register/">注册</a>
              <a class="col-lg-3"> </a>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login/">登陆</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">关于车票</h2>
            <hr class="light my-4">
            <p class="text-faded mb-5">
                这里分为市内机场巴士线路和省际机场巴士线路，您可以根据需要选择合适的线路。
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/browse/">开始购票</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class=" container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">关于开发者</h2>
            <hr class="my-4">
            <p class="mb-5">
                这是数据库大作业，由于之前事情比较多所以最后肝了好几天才做出来。欢迎联系作者
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-gift fa-3x mb-3 sr-contact-1" ></i>
            <p >
               <a href="https://github.com/SlongLiu/bus_booking_system">下载源码</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:long199886@163.com">long199886@163.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
