{% extends 'base.html' %}
{% block title %}订单管理{% endblock %}
{% block content %}

    <header id="header">
    <!-- Nav -->
			<div id="nav">
            <!-- Main Nav -->
				<div id="nav-fixed">
                    <div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="index.html" class="logo"><img src="./img/logo.png" alt=""></a>
						</div>
                    <!-- /logo -->

                    <!-- search & aside toggle -->
						<div class="nav-btns">
							<button class="aside-btn"><i class="fa fa-bars"></i></button>
							<button class="search-btn"><i class="fa fa-search"></i></button>
							<div class="search-form">
								<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
								<button class="search-close"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<!-- /search & aside toggle -->
                    </div>
                </div>
				<!-- /Main Nav -->


    <!-- Aside Nav -->
				<div id="nav-aside">
					<!-- nav -->
					<div class="section-row">
						<ul class="nav-aside-menu">
							<li><a href="/index/">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Join Us</a></li>
							<li><a href="#">Advertisement</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
					</div>
                </div>
            </div>
    </header>
    <!-- /Header -->

    <div class="container">
    {% if request.session.identify == 'employee'%}
      <table class="table table-hover table-bordered" style="overflow:auto">
            <thead>
                <tr>
                    <td style="width:20%">用户id</td>
                    <td style="width:20%">用户名</td>
                    <td style="width:20%">用户真实姓名</td>
                    <td style="width:20%">用户手机</td>
                    <td style="width:20%">用户邮箱</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td style="height:22px">{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.realname }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
    </div>
{% endblock %}